@model IEnumerable<MVC_Music.Models.Instrument>

<partial name="_ViewHeading" />

<p>
    <a asp-action="Create">Create New @ViewData["ControllerFriendlyName"]</a>
</p>

<hr />
<form asp-action="Index" method="get">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Musicians)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Plays)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @{
                            int musicianCount = item.Musicians.Count;
                            if (musicianCount > 0)
                            {
                                string firstMusician = item.Musicians.FirstOrDefault().Summary;
                                if (musicianCount > 1)
                                {
                                    string musicianList = "";
                                    var c = item.Musicians.ToList();
                                    for (int i = 1; i < musicianCount; i++)//Skip the first because we have it already
                                    {
                                        musicianList += c[i].Summary + " <br />";
                                    }
                                    <a class="" role="button" data-bs-toggle="collapse" href="#collapseMusicians@(item.ID)"
                                       aria-expanded="false" aria-controls="collapseMusicians@(item.ID)">
                                        @firstMusician <span class="badge bg-info">@musicianCount</span>
                                    </a>
                                    <div class="collapse" id="collapseMusicians@(item.ID)">
                                        @Html.Raw(musicianList)
                                    </div>
                                }
                                else
                                {
                                    @firstMusician
                                }
                            }
                        }
                    </td>
                    <td>
                        @{
                            int playCount = item.Plays.Count;
                            if (playCount > 0)
                            {
                                string firstPlay = item.Plays.FirstOrDefault().Musician.Summary;
                                if (playCount > 1)
                                {
                                    string playList = "";
                                    var c = item.Plays.ToList();
                                    for (int i = 1; i < playCount; i++)//Skip the first because we have it already
                                    {
                                        playList += c[i].Musician.Summary + " <br />";
                                    }
                                    <a class="" role="button" data-bs-toggle="collapse" href="#collapseOther@(item.ID)"
                                       aria-expanded="false" aria-controls="collapseOther@(item.ID)">
                                        @firstPlay <span class="badge bg-info">@playCount</span>
                                    </a>
                                    <div class="collapse" id="collapseOther@(item.ID)">
                                        @Html.Raw(playList)
                                    </div>
                                }
                                else
                                {
                                    @firstPlay
                                }
                            }
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <partial name="_PagingNavBar" />
</form>
@section Scripts {
    <script type="text/javascript">
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
}