@model IEnumerable<MVC_Music.Models.MusicianDocument>

<partial name="_ViewHeading" />
<form asp-action="Index" method="get">
    <div class="form-horizontal">
        <button class="btn @ViewData["Filtering"]" type="button" data-bs-toggle="collapse" id="filterToggle" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
            Filter/Search @ViewData["numberFilters"]
        </button><br />
        <div class="collapse @ViewData["ShowFilter"]" id="collapseFilter">
            <div class="card card-body bg-light">
                <div class="row">
                    <div class="form-group col-md-4 ml-md-3">
                        <label class="control-label">Musician:</label>
                        @Html.DropDownList("MusicianID", null, "All Musicians", htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Search File Name:</label>
                        @Html.TextBox("SearchString", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4 align-self-end">
                        <input type="submit" name="actionButton" value="Apply" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-outline-dark">Clear</a>
                    </div>
                </div>
            </div>
        </div>
        <div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MimeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Musician)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Download" asp-route-id="@item.ID">@item.FileName</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MimeType)
            </td>
                <td>
                    @{
                        if (!String.IsNullOrEmpty(item.Description))
                        {
                            string[] noteWords = item.Description.Split(' ');
                            if (noteWords.Count() > 5)
                            {
                                <a class="" role="button" data-bs-toggle="collapse" href="#collapseSum@(item.ID)" aria-expanded="false" aria-controls="collapseSum@(item.ID)">
                                    @(string.Join(" ", noteWords.Take(5)) + "...")
                                </a>
                                <div class="collapse" id="collapseSum@(item.ID)">
                                    <div class="well">
                                        @(string.Join(" ", noteWords.Skip(5)))
                                    </div>
                                </div>
                            }
                            else
                            {
                                @item.Description
                            }
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Musician.Summary)
                </td>
            <td>
                <a asp-action="Download" asp-route-id="@item.ID">Download</a> |
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
            </table>
        </div>
    </div>
    <partial name="_PagingNavBar" />
</form>
